
.body {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  min-height: 607px;
  width: 1140px;
  margin: 9px 0 0;
  margin-bottom: 40px;
  
}

.title {
  text-align: center;
  position: relative;
}

#adminLogin {
  text-decoration: underline;
  color: #364dff;

}
#adminLogin:hover {
  font-weight: bold;
}